<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >



<suite name="TestAll">

    <listeners>
        <listener class-name="org.epam.testing.components.FailureListener"/>
    </listeners>

    <test name="LoginTest">
        <classes>
            <class name= "org.epam.testing.TestRunner" />
        </classes>
    </test>


</suite>

